/*
.drum-pad {
color: #fff !important;
text-transform: uppercase;
background: #ed3330;
padding: 16px;
border-radius: 5px;
border: none;
cursor: pointer;
font-size: calc(8px + 2vmin);
}
*/



.drum-pad {
    background: rgb(26, 115, 232);
    border: 0;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: .875em;
    margin: 1px;
    padding: 8px 16px;

}


.drum-pad:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
